<link rel="stylesheet" href="styles/social.css">
<div class="container mt-4">
  <div class="row">
    <div class="col text-center">
      <a href="https://twitter.com/GiuocoPianoSimp" target="_blank" class="social-icon"><i class="bi bi-twitter"></i></a>
      <a href="https://www.youtube.com/channel/UC9DloEs6b9xLwtQQTe0F32g" target="_blank" class="social-icon"><i class="bi bi-youtube"></i></a>
      <a href="https://github.com/theAnuragMishra" target="_blank" class="social-icon"><i class="bi bi-github"></i></a>
      <a href="https://discord.gg/nhzEgqwBwp" target="_blank" class="social-icon"><i class="bi bi-discord"></i></a>
    </div>
  </div>
</div>
