<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<%-include("partials/cdns.ejs")%>
<link rel="stylesheet" href="styles/team.css">
    <title>Team</title>
</head>
<body>
<%- include('partials/navbar.ejs') %>
    <div class="container team-container">
        <div class="row">

            <!-- Team Member 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                    <img src="images/anurag.jpg" alt="Team Member 1" class="team-img">
                    <div class="team-info">
                        <h3>Anurag Kumar Mishra</h3>
                        <p>Fullstack Developer</p>
                        <p>Pretty good experience with express and apis. Intermediate pythonista. Work experience in making discord bots, multi-utility python projects, front-end design and server handling. Loves creating bugs :)</p>
                    </div>
                </div>
            </div>

        </div>
    </div>

<%-include("partials/gototopbtn.ejs")%>
<%- include('partials/social.ejs') %>
</body>

</html>