<!DOCTYPE html>
<%-include("partials/cdns.ejs")%>
<%- include('partials/navbar.ejs') %>

<link rel="stylesheet" href="styles/team.css">
    <title>Team</title>

<body>

    <div class="container team-container">
        <div class="row">
             <!-- Team Member 1 -->
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                    <img src="images/palakjain.jpg" alt="Team Member 2" class="team-img">
                    <div class="team-info">
                        <h3>Palak Jain</h3>
                        <p>Designer</p>
                        <p>Frontend developer. Helped with page framing and designing. Helped with JS objects.</p>
                    </div>
                </div>
            </div>
            <!-- Team Member 2 -->
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                    <img src="images/anurag.jpg" alt="Team Member 1" class="team-img">
                    <div class="team-info">
                        <h3>Anurag Kumar Mishra</h3>
                        <p>Leader</p>
                        <p>Finished 99% of the project. Pretty good experience in frontend and node. Intermediate pythonista.</p>
                    </div>
                </div>
            </div>



            <!-- Team Member 3 -->
            <div class="col-lg-4 col-md-6">
                <div class="team-card">
                    <img src="images/aman.jpg" alt="Team Member 3" class="team-img">
                    <div class="team-info">
                        <h3>Aman Shukla</h3>
                        <p>Frontend Developer</p>
                        <p>Made html skeleton with some css customisations for some pages.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

<%-include("partials/gototopbtn.ejs")%>
<%- include('partials/social.ejs') %>
</body>

